<app-header></app-header>
<div class="root">
  <div class="container-root">
    <div class="container" [@appeard]="state">
      <div class="text-center mb-4">
        <h3><i class="fa fa-book mr-2"></i> Cadastro de Veículos</h3>
      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h5 *ngIf="!isEdit" class="mt-2">
            <i class="fa fa-car mr-2"></i> Novo Veículo
          </h5>
          <h5 *ngIf="isEdit" class="mt-2">
            <i class="fa fa-car mr-2"></i>
            Editando o Veículo "{{ vehicle.name }}"
          </h5>
        </div>

        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-row">
              <div class="form-group col-12">
                <label class="font-weight-bold">Nome *</label>
                <input formControlName="name" type="text" placeholder="Digite o nome do veículo" class="form-control" />

                <div *ngIf="controlError('name')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('name')" class="text text-danger">
                    Nome é obrigatório.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12 col-md-8">
                <label class="font-weight-bold">Descrição *</label>
                <input formControlName="description" type="text" placeholder="Digite a descrição do veículo"
                  class="form-control" />

                <div *ngIf="controlError('description')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('description')" class="text text-danger">
                    Descrição é obrigatório.
                  </div>
                </div>
              </div>

              <div class="form-group col-12 col-md-4">
                <label class="font-weight-bold">Nível de combustível *</label>
                <select class="custom-select" formControlName="fuel">
                  <option disabled selected value="">Escolha uma opção</option>
                  <option *ngFor="let option of vehicleFuel" [value]="option.value">
                    {{ option.name }}
                  </option>
                </select>

                <div *ngIf="controlError('fuel')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('fuel')" class="text text-danger">
                    Nível de combustível é obrigatório.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12 col-md-8">
                <label class="font-weight-bold">Imagem</label>
                <input formControlName="imageUrl" type="text" class="form-control"
                  placeholder="Digite a URL da imagem" />
              </div>

              <div class="form-group col-12 col-md-4">
                <label class="font-weight-bold">Valor da diária *</label>
                <input formControlName="dailyValue" type="number" class="form-control" placeholder="R$ 00,00" />

                <div *ngIf="controlError('dailyValue')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('dailyValue')" class="text text-danger">
                    Valor da diária é obrigatório.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12 col-md-4">
                <label class="font-weight-bold">Categoria *</label>
                <select class="custom-select" formControlName="category">
                  <option disabled selected value="">
                    Escolha uma categoria
                  </option>
                  <option *ngFor="let option of vehicleOptions" [value]="option.value">
                    {{ option.name }}
                  </option>
                </select>

                <div *ngIf="controlError('category')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('category')" class="text text-danger">
                    Categoria é obrigatório.
                  </div>
                </div>
              </div>

              <div class="form-group col-12 col-md-4">
                <label class="font-weight-bold">Ano de fabricação *</label>
                <input formControlName="year" type="number" class="form-control"
                  placeholder="Digite o ano de fabricação do veículo" />

                <div *ngIf="controlError('year')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('year')" class="text text-danger">
                    Ano de fabricação é obrigatório.
                  </div>
                </div>
              </div>

              <div class="form-group col-12 col-md-4">
                <label class="font-weight-bold">Estado de conservação *</label>
                <select class="custom-select" formControlName="conservation">
                  <option disabled selected value="">Escolha uma opção</option>
                  <option *ngFor="let option of vehicleStates" [value]="option.value">
                    {{ option.name }}
                  </option>
                </select>

                <div *ngIf="controlError('conservation')" class="text-danger mt-2">
                  <div *ngIf="controlRequired('conservation')" class="text text-danger">
                    Estado de conservação é obrigatório.
                  </div>
                </div>
              </div>
            </div>

            <div class="buttons mt-3">
              <button [disabled]="form.invalid || isLoading" (click)="action()" class="button font-weight-bold">
                <i *ngIf="!isLoading" class="fa fa-floppy-o mr-2"></i>
                <app-spinner *ngIf="isLoading" class="mr-2" [size]="1.3"></app-spinner>
                Salvar
              </button>

              <button (click)="exitVehicleRegister()" class="button cancel font-weight-bold">
                <i class="fa fa-ban mr-2"></i>Cancelar </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
