@import "../../../scss/includes.scss";

.root {
    @include grid(32);

    .container-root {
        @include grid-column-span(32);
        margin-bottom: 3rem;
        margin-top: 3rem;

        @media (min-width: $breakpoint-table) {
            margin-top: 5rem;
        }

        h5 {
            font-weight: bold;
        }

        .card-primary {
            background-color: $color-card !important;
        }

        .buttons {
            @include start();
            flex-wrap: wrap;

            @media (max-width: 767px) {
                @include between();
            }

            @media (max-width: 377px) {
                @include center();
            }

            .button {
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                font-family: $font-montserrat;
                font-size: 1rem;
                color: $color-white;
                background-color: $color-primary;
                padding: 0.5rem 2rem;
                transition: background-color 0.2s, color 0.2s;

                &.cancel {
                    background-color: $color-light-black;

                    @media (max-width: 377px) {
                        margin-top: 0.5rem;
                    }

                    @media (min-width: $breakpoint-medium) {
                        margin-left: 1rem;
                    }

                    &:hover {
                        background-color: lighten($color-light-black, 5%);
                        color: $color-white;
                    }
                }

                &:hover {
                    background-color: lighten($color-primary, 5%);
                    color: $color-white;
                }

                &:disabled {
                    cursor: no-drop;
                    opacity: 0.5;
                }

                @include large-and-up {
                    padding: 0.7rem 2rem;
                }
            }
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            border-color: $color-primary !important;
            background-color: $color-primary !important;
        }
    }
}
