<div class="card internal-shadow mx-auto" [@appeard]="state">
    <img *ngIf="vehicle.image" [src]="vehicle.image" class="card-img-top" />
    <img *ngIf="!vehicle.image" [src]="placeholder" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title text-white text-center mb-4">{{ vehicle.name }}</h5>
        <div class="card-text text-white text-left ml-3">
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Descrição: </strong>
                {{ vehicle.description }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Combustível: </strong>
                {{ vehicle.fuel }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Conservação: </strong>
                {{ vehicle.conservation }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Status: </strong>
                {{ vehicle.status }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Categoria: </strong>
                {{ vehicle.categoria }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Diária: </strong>
                {{ vehicle.dailyValue | currency: "BRL": 'symbol' }}
            </p>
            <p><i class="fa fa-diamond text-secondary mr-3"></i>
                <strong>Ano: </strong>
                {{ vehicle.year }}
            </p>
            <a [routerLink]="['/login']" class="stretched-link font-weight-bold link">
                <i class="fa fa-info-circle mr-2"></i>
                Mais detalhes
            </a>
        </div>
    </div>
</div>