@import "../../../scss/includes.scss";

.card {
    position: relative;
    width: 90%;
    max-height: 45rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background: #313a46;
    background-clip: border-box;
    border-radius: 0.8rem;

    transition: transform 0.2s;
    transform: scale(1);

    @include xlarge-and-up {
        max-height: 50rem;
        width: 20rem;
    }

    @include large-and-up() {
        &:hover {
            transform: scale(1.1);
            z-index: 2;
        }
    }

    @include only-large() {
        max-height: 40rem;
        width: 20rem;
    }

    @media (min-width: 1200px) and (max-width: 1400px) {
        width: 95%;
    }
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

.card-text {
    &:last-child {
        margin-bottom: 0;
    }
}

.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 180px;
    border-top-left-radius: calc(0.8rem - 1px);
    border-top-right-radius: calc(0.8rem - 1px);
}

.internal-shadow {
    box-shadow: 2px 4px 8px 0 $color-background !important;
    opacity: 0.4;
}

.link {
    cursor: pointer;
    color: $color-primary;
    text-align: center !important;
    font-size: 1rem;
}

.default {
    color: $color-white;
    cursor: default;
}
