<div class="card internal-shadow mx-auto" [@appeard]="state">
  <img *ngIf="vehicle.imageUrl" [src]="vehicle.imageUrl" class="card-img-top" />
  <img *ngIf="!vehicle.imageUrl" [src]="placeholder" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title text-white text-center mb-4">{{ vehicle.name }}</h5>
    <div class="card-text text-white text-left ml-3">
      <p *ngIf="vehicle.description">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Descrição: </strong>
        {{ vehicle.description }}
      </p>
      <p *ngIf="vehicle.dailyValue">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Diária: </strong>
        {{ vehicle.dailyValue | currency: "BRL":"symbol" }}
      </p>
      <p *ngIf="vehicle.fuel">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Combustível: </strong>
        {{ vehicle.fuel }}
      </p>
      <p *ngIf="vehicle.conservation">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Conservação: </strong>
        {{ vehicle.conservation }}
      </p>
      <p *ngIf="vehicle.status">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong [class.text-danger]=""> Status: </strong>
        <span [class]="statusColor">{{ vehicle.status }}</span>
      </p>
      <p *ngIf="vehicle.category">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Categoria: </strong>
        {{ vehicle.category }}
      </p>
      <p *ngIf="vehicle.year">
        <i class="fa fa-diamond text-secondary mr-2"></i>
        <strong>Ano: </strong>
        {{ vehicle.year }}
      </p>
      <a *ngIf="enabled && !isLoading" (click)="rent(vehicle)" class="stretched-link font-weight-bold link">
        <i class="fa fa-share-square-o mr-2"></i>
        CLIQUE PARA RESERVAR
      </a>
      <a *ngIf="reservedByYou && !isLoading" (click)="rent(vehicle)" class="stretched-link font-weight-bold link">
        <i class="fa fa-ban mr-2"></i>
        CLIQUE PARA CANCELAR
      </a>
      <a *ngIf="reserved && !isLoading" (click)="rent(vehicle)" class="stretched-link font-weight-bold link">
        <i class="fa fa-book mr-2"></i>
        VEÍCULO RESERVADO
      </a>
      <a *ngIf="isLoading" class="font-weight-bold text-center default">
        <app-spinner class="mr-2" [size]="1.3"></app-spinner>{{ label }}
      </a>
    </div>
  </div>
</div>
