@import "../../../scss/includes.scss";

.line {
    border-top: 1px solid rgba($color-primary, 0.1);
    margin-bottom: 1rem;
}

.layer {
    @include z-index("space");
}

.low-opacity {
    opacity: 0.8 !important;
}
