<div class="nav" [@appeard]="state">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLinkActive="text-bold" routerLink="/home">Início</a>
    <a routerLinkActive="text-bold" routerLink="/vehicle-register">Cadastro de Veículos <i
        class="fa fa-unlock ml-2"></i></a>
    <a routerLinkActive="text-bold" routerLink="/vehicle-list">Listagem de Veículos <i
        class="fa fa-unlock ml-2"></i></a>
    <a (click)="logout()">Sair</a>
  </div>
</div>
