<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links" [@appeard]="state">
    <a routerLinkActive="text-bold" data-cy="home" routerLink="/home">Início</a>
    <a routerLinkActive="text-bold" data-cy="vehicleRegister" routerLink="/vehicle-register">Cadastro de Veículos</a>
    <a routerLinkActive="text-bold" data-cy="vehicleList" routerLink="/vehicle-list">Listagem de Veículos</a>
    <a (click)="logout()" data-cy="logout">Sair</a>
  </div>
</div>