<div class="root">
  <div class="container-root">
    <div class="container low-opacity" [@appeard]="state">
      <particles [params]="params" [style]="theme"></particles>

      <h2 class="title">PÁGINA NÃO ENCONTRADA</h2>
      <div class="text-center text-white">
        <h3>Imaginamos que você tenha acessado o caminho "<strong>{{ path }}</strong>" por engano.
          Clique no botão abaixo e navegue até a página inicial.
        </h3>
        <button routerLink="/home" class="button font-weight-bold mt-3 mb-3">
          <i class="fa fa-home mr-2"></i>Ir para o início
        </button>
      </div>

    </div>
  </div>
</div>
