@import "../../../scss/includes.scss";

.home-title {
    color: $color-light-black;
    font-size: 2rem;
    font-family: $font-montserrat;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 90%;
    margin: auto;
    text-transform: uppercase;

    @include large-and-up {
        font-size: 2.2rem;
    }
}
