<app-header></app-header>
<div class="container mt-5 mb-5" [@appeard]="state">
    <h2 class="home-title">PÁGINA NÃO ENCONTRADA</h2>
    <div class="text-center text-white">
        <h3>
            Imaginamos que você tenha acessado o caminho "<strong>{{ path }}</strong>" por engano. Clique no botão
            abaixo
            e navegue até a página inicial!
        </h3>
        <button type="button" class="btn btn-outline-light mt-3" routerLink="/home">
            <i class="fa fa-home mr-2"></i>Início
        </button>
    </div>
</div>