@import "../../../scss/includes.scss";

.root {
    @include grid(32);

    .container-root {
        @include grid-column-span(32);
        margin-top: 5rem;

        .register-form {
            background: $color-card;
            max-width: 500px;
            margin: auto;
            color: $color-white;
            padding: 1rem 2rem 2rem;
            border-radius: 8px;
        }

        .register-form-label {
            display: block;
            padding: 0.4rem 0;
            font-size: 1.2rem;
            margin-top: 1rem;
        }

        .register-form-input {
            display: block;
            width: 100%;
            border: 0;
            font-size: 1rem;
            padding: 0.8rem;

            &:disabled {
                background-color: $color-disabled;
            }

            &::placeholder {
                @include large-and-up {
                    font-size: 1rem;
                }
            }
        }

        .register-form-submit {
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            font-family: $font-montserrat;
            font-size: 1rem;
            color: $color-white;
            font-weight: bold;
            background-color: $color-primary;
            padding: 0.5rem 2rem;
            transition: background-color 0.2s, color 0.2s;

            &:hover {
                background-color: lighten($color-primary, 5%);
                color: $color-white;
            }

            &:disabled {
                cursor: no-drop;
                opacity: 0.5;
            }

            @include large-and-up {
                padding: 0.7rem 2rem;
            }
        }

        .signin {
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $font-montserrat;
        }

        .buttons {
            @include between();
            flex-wrap: wrap;

            @media (max-width: 351px) {
                @include center();
            }
        }

        .low-opacity {
            opacity: 0.99 !important;
        }
    }
}
