<app-header></app-header>
<div *ngIf="validationHeader" [@appeard]="state">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h2 class="title mt-5">
      <a (click)="toggleSearch()" title="Clique para pesquisar" class="search-link text-white pointer">
        <i class="fa fa-search mr-3"></i>
      </a>
      Escolha um veículo para reservar
    </h2>
  </div>
</div>

<p *ngIf="validationEmpty" class="mt-5 text-white text-center" [@appeard]="state">
  Não foram encontrados veículos cadastrados <i class="fa fa-frown-o"></i>
</p>

<p *ngIf="validationError" class="mt-5 text-white text-center" [@appeard]="state">
  Ocorreu um erro ao trazer os veículos <i class="fa fa-frown-o"></i>
</p>

<div *ngIf="isLoading" class="text-center mt-5">
  <app-loading></app-loading>
  <p class="text-light mt-3">Buscando veículos...</p>
</div>

<div class="container spacement mt-5">
  <div class="row">
    <div *ngIf="showSearchBar" class="text-center col-12" [@slide]="state">
      <form [formGroup]="searchForm">
        <div class="input-group mb-3">
          <input type="text" class="form-control ml-3" formControlName="searchControl"
            placeholder="Pesquise por um veículo." />
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="validationVehicleCard" class="row mb-3">
    <div *ngFor="let vehicle of vehicles" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
    </div>
  </div>
</div>
<app-footer [class.bottom]="validationClassBottom"></app-footer>
