@import "../../../scss/includes.scss";

.root {
    @include grid(32);

    .container-root {
        @include grid-column-span(32);
        margin-top: 5rem;
        max-width: 1350px;
        margin: auto;

        @media (max-width: 1366px) {
            max-width: 95%;
        }

        @media (max-width: 580px) {
            max-width: 94%;
        }

        @media (max-width: 483px) {
            max-width: 90%;
        }

        @media (max-width: 291px) {
            max-width: 89%;
        }

        .title {
            color: $color-white;
            font-size: 2rem;
            font-family: $font-montserrat;
            font-weight: 400;
            text-align: center;
            padding-bottom: 1rem;
            max-width: 90%;
            margin: auto;

            @include large-and-up {
                font-size: 2.2rem;
            }
        }

        .button {
            border: 0;
            cursor: pointer;
            font-family: $font-montserrat;
            font-size: 1rem;
            color: $color-white;
            background-color: $color-primary;
            padding: 0.5rem 2rem;
            transition: background-color 0.2s, color 0.2s;

            &:hover {
                background-color: lighten($color-primary, 5%);
                color: $color-white;
            }

            @include large-and-up {
                padding: 0.7rem 2rem;
            }
        }

        .search {
            max-width: 100%;
            margin: auto;

            @include xlarge-and-down {
                max-width: 95%;
            }

            @include medium-and-down {
                max-width: 90%;
            }

            @media (min-width: 1200px) and (max-width: 1400px) {
                width: 98%;
            }
        }

        input {
            text-overflow: ellipsis;

            &::placeholder {
                font-size: 16px;
            }
        }

        .user {
            color: $color-primary;
        }

        .button {
            cursor: default;
            background-color: $color-primary;
        }

        .pointer {
            cursor: pointer;
        }
    }
}
