@import "../../../scss/includes.scss";

.title {
    color: $color-white;
    font-size: 2rem;
    font-family: $font-montserrat;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 90%;
    margin: auto;

    @include large-and-up {
        font-size: 2.2rem;
    }
}

.button {
    border: 0;
    cursor: pointer;
    font-family: $font-montserrat;
    font-size: 1rem;
    color: $color-white;
    background-color: $color-primary;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: lighten($color-primary, 5%);
        color: $color-white;
    }

    @include large-and-up {
        padding: 0.7rem 2rem;
    }
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.spacement {
    max-width: 1350px !important;
}

.pointer {
    cursor: pointer;
}
