.snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #313a46;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
