@import "../../../scss/includes.scss";

.snackbar {
    @include z-index("space");
    min-width: 250px;
    margin-left: -125px;
    background-color: $color-light-black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 12px;
    position: fixed;
    left: 50%;
    bottom: 30px;
}
