@import "scss/includes.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
    color: $color-white;
}

thead,
tr,
th,
tr,
td {
    color: $color-white;
}

p {
    color: $color-white;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: $color-light-black !important;
    font-family: $font-montserrat !important;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    line-height: 1.25;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $color-card;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-primary;
        border: 3px solid $color-card;
        border-radius: 20px;
    }
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

::selection {
    background: #7e87ff;
    color: #fff;
}

.font-weight-bold {
    font-weight: 700 !important;
}

a {
    color: $color-white !important;
    transform: scale(1);
    transition: transform 0.2s;

    &:hover {
        text-decoration: none !important;
        transform: scale(1.1);
    }
}

.spinner-center-page {
    position: absolute;
    left: 50%;
    top: 50%;
}

.swal2-popup .swal2-styled {
    &:focus {
        box-shadow: none !important;
    }
}
