@import "scss/includes.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
    color: $color-white;
}

thead,
tr,
th,
tr,
td {
    color: $color-white;
}

p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: $color-white;
}

html,
body {
    font-size: 16px;
    font-family: $font-montserrat !important;
    background-color: $color-light-black !important;
    line-height: 1.25;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

::selection {
    background: $color-selection;
}

.font-weight-bold {
    font-weight: 700 !important;
}

a {
    color: $color-white !important;
    transform: scale(1);
    transition: transform 0.2s;

    &:hover {
        text-decoration: none !important;
        transform: scale(1.1);
    }
}

.spinner-center-page {
    position: absolute;
    left: 50%;
    top: 50%;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}
