@mixin small-and-up {
  @media screen and (min-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin breakpoint-large-to-xlarge {
  @media screen and (max-width: #{$breakpoint-large-to-xlarge}) {
    @content;
  }
}

@mixin only-small {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin medium-and-up {
  @media screen and (min-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin only-medium {
  @media (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large}) {
    @content;
  }
}

@mixin large-and-up {
  @media screen and (min-width: #{$breakpoint-large}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-xlarge}) {
    @content;
  }
}

@mixin xlarge-and-up {
  @media screen and (min-width: #{$breakpoint-xlarge}) {
    @content;
  }
}
