/** Breakpoints */
$breakpoint-xsmall: 0;
$breakpoint-small: 576px;
$breakpoint-small-to-medum: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

/** Colors */
$color-primary: #fd5d93;
$color-blue: #3f5eac;
$color-light-blue: #5c88f7;
$color-blue-bg: #203057;
$color-blue-hover: #4869bc;

$color-white: #ffffff;
$color-black: #000;

$color-gray: #717171;
$color-light-gray: #cecece;
$color-gray-bg: #f1f1f1;

$color-light-pink: #ffb7b7;
$color-light-yellow: #ffffcc;
$color-light-black: #282828;

$color-red: #ff0000;
$color-red-tomato: #ff6347;

$color-background: #27293d;
$color-text-navbar: #fff;
$color-border: #eaeaea;

$color-disabled: #cbcbcb;

/** Loading */
$square: 32px;
$duration: 10s;

/** Fonts */
$font-montserrat: "Montserrat", sans-serif;
$font-prompt: "Prompt", sans-serif;
